<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.dragon.mapper.SmsSecretMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.dragon.entity.SmsSecret">
        <id column="secret_id" property="secretId" />
        <result column="secret_sid" property="secretSid" />
        <result column="secret_uid" property="secretUid" />
        <result column="secret_create_time" property="secretCreateTime" />
        <result column="secret_use_time" property="secretUseTime" />
        <result column="secret_status" property="secretStatus" />
        <result column="secret_is_del" property="secretIsDel" />
        <result column="secret_money" property="secretMoney" />
        <result column="secret_code" property="secretCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        secret_id, secret_sid, secret_uid, secret_create_time, secret_use_time, secret_status, secret_is_del, secret_money, secret_code
    </sql>

</mapper>
